{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="col-12 col-md-6 col-lg-4">
    <div class="about-us mb-5 mt-md-5">
        <p>We are located right at center Almhult. Just behind the kommun house.</p>
        <p>Address : Quuensgatan 22B , 34333 , Almhult, Sweden</p>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Hours</th>>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th> Sunday</th>
                <td>13:00 - 20:00</td>>
              </tr>
              <tr>
                <th> Monday</th>
                <td>14:00 - 20:00</td>>
              </tr>
              <tr>
                <th> Tuesday</th>
                <td>15:00 - 18:00</td>>
              </tr>
              <tr>
                <th> Wednesday</th>
                <td>14:00 - 20:00</td>>
              </tr>
              <tr>
                <th> Thursday</th>
                <td>14:00 - 18:00</td>>
              </tr>
              <tr>
                <th> Friday</th>
                <td>14:00 - 18:00</td>>
              </tr>
              <tr>
                <th>Saturday</th>
                <td>Closed</td>>
              </tr>
            </tbody>
        </table>
    </div>
</div>

{%endblock%}