{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Ask D&F</h1>
        {% csrf_token %}
        {{ contact_form.name | as_crispy_field }}
        {{ contact_form.question | as_crispy_field }}
        {{ contact_form.subscribe | as_crispy_field }}
        {{ contact_form.email | as_crispy_field }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Send</button>
        </div>
    </form>
</div>

{%endblock%}