<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?sort=price" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="product-link1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dance
            </a>
            <div class="dropdown-menu border-0" >
                <a href="{% url 'products' %}?category=Indian_Dance" class="dropdown-item">Indian</a>
                <a href="{% url 'products' %}?category=Western_Dance" class="dropdown-item">Western</a>
                <a href="{% url 'products' %}?category=Fitness" class="dropdown-item">Fitness</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="product-link2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Training
            </a>
            <div class="dropdown-menu border-0" >
                <a href="{% url 'products' %}?category=Training" class="dropdown-item">GYM</a>
                <a href="{% url 'products' %}?category=sports" class="dropdown-item">Sports</a>
                <a href="{% url 'products' %}?category=Group_training" class="dropdown-item">Group Training</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="product-link3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recharge
            </a>
            <div class="dropdown-menu border-0" >
                <a href="{% url 'products' %}?category=Food" class="dropdown-item">Food</a>
                <a href="{% url 'products' %}?category=Relax" class="dropdown-item">Relax</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="product-link4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About D&F
            </a>
            <div class="dropdown-menu border-0" >
                <a href="{% url 'about' %}" class="dropdown-item">Location & Opening Hours</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>